[submodule "compose/Frontend"]
	path = compose/Frontend
	url = https://github.com/Team-Reissdorf/Frontend.git
	branch = reconf-proxy
[submodule "compose/Backend"]
	path = compose/Backend
	url = https://github.com/Team-Reissdorf/Backend.git
	branch = fix-compose
